<div class="card-header">
      <h3> {{ article.votes }} Points </h3>
  </div>
  <div class="card-body">
    <a href="{{ link }}"> {{ article.title }} </a>
     <!-- right here -->
    <span class="badge badge-pill badge-info">{{article.domain()}}</span>
  </div>
  <div class="card-footer">
     <div class="btn-group">
        <a href (click)="voteUp()" class="btn btn-secondary"> upvote </a>
        <a href (click)="voteDown()" class="btn btn-secondary"> downvote </a>
    </div>
  </div>

<div class="container">
  <!-- start adding here -->
  <app-article
    *ngFor="let art of articles" [article]="art">
  </app-article>
  <!-- end adding here -->
</div>